<div class="form">
    <div class="container">
        <form [formGroup]="physicianForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput formControlName="position">
            </mat-form-field>

            <br>
            <button style="margin-bottom: 10px;" mat-button color="primary" (click)="cancel()">Cancel</button>
            <button style="margin-bottom: 10px;" mat-raised-button color="primary" type="submit">{{isEditMode?'Edit':'Add'}}</button>

        </form>
    </div>
</div>