<div class="form">
    <div>
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Room Number</mat-label>
                <input matInput formControlName="roomNumber">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>BlockId</mat-label>
                <input matInput formControlName="blockId">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Room Type</mat-label>
                <input matInput formControlName="roomType">
            </mat-form-field>

            <mat-form-field>
                <mat-label>BlockId</mat-label>
                <input matInput formControlName="blockId">
            </mat-form-field>

            <mat-radio-group formControlName="availability">
                <mat-label>Available</mat-label>
                <br>
                <mat-radio-button [value]="true">true</mat-radio-button>
                <mat-radio-button [value]="false">false</mat-radio-button>
            </mat-radio-group>

            <br>
            <button style="margin-bottom: 10px;" mat-raised-button color="primary" type="submit">Add</button>

        </form>
    </div>
</div>