<div class="form">
<div class="container">
<h2>Nurse details</h2>
<form [formGroup]="myform" (ngSubmit)="onSubmit()">
<mat-form-field >
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
</mat-form-field>
<br>
<mat-form-field >
    <mat-label>Position</mat-label>
    <input matInput formControlName="position">
</mat-form-field>

<br>

<mat-radio-group formControlName="registered">
     <mat-label>Registered</mat-label>
     <br>
  <mat-radio-button [value]="true">true</mat-radio-button>
  <mat-radio-button [value]="false">false</mat-radio-button>
</mat-radio-group>
<br>

<button style="margin-bottom: 10px;" mat-raised-button color="primary" type="submit">Add</button>

</form>
</div>
</div>

<br><br><br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nurseId">
    <th mat-header-cell *matHeaderCellDef>ID </th>
    <td mat-cell *matCellDef="let element"> {{element.nurseId}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   <ng-container matColumnDef="registered">
    <th mat-header-cell *matHeaderCellDef> Registred </th>
    <td mat-cell *matCellDef="let element"> {{element.registered}} </td>
  </ng-container> 

   <ng-container matColumnDef="createdOn">
    <th mat-header-cell *matHeaderCellDef> Created On </th>
    <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
  </ng-container> 
  
    <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element" >
      <button mat-raised-button color="primary" (click)="openEditDialog(element)">Edit</button>
    </td>
   </ng-container>


  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element" >
      <button mat-raised-button color="primary" (click)="deleteNurse(element)">Delete</button>
    </td>
    

  </ng-container>

 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
