<div class="form">
    <div class="container">
        <form [formGroup]="nurseForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput formControlName="position">
            </mat-form-field>
            <br>
            <mat-radio-group formControlName="registered">
                <mat-label>Registered</mat-label><br>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <br>
            <button style="margin-bottom: 10px;" mat-raised-button color="primary" (click)="cancel()">
                Cancel
            </button>

            <button style="margin-bottom: 10px;" mat-raised-button color="primary"
                [disabled]="this.nurseForm.invalid && (name.trim()==='' || position.trim()==='')"
                type="submit">{{isEditMode?'Edit':'Add'}}
            </button>
        </form>
    </div>
</div>