<div>
    <mat-dialog-content>
    <mat-form-field>
        <mat-label>BlockFloor</mat-label>
        <input matInput [(ngModel)]="blockFloor">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>BlockCode</mat-label>
        <input matInput [(ngModel)]="blockCode">
    </mat-form-field>


    
</mat-dialog-content>


<mat-dialog-actions align="start">
  <button  mat-flat-button color="primary" (click)="cancel()">Cancel</button>
  <button  mat-flat-button color="primary" (click)="edit()">Edit</button>
</mat-dialog-actions>
</div>